$primaryBtn: #e055cc;
$textColor: #4e4e4e;
$introText: #0cb9e4;
@mixin flexCenter($direction, $background) {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $background;
}